.form-group .btn-lg {
  padding: 10px 50px;
}
.form-control {
  border: 1px solid #EEE;
  border-radius: 2px;
  background-color: #FAFAFA;
  box-shadow: none;
}
.form-control:focus {
  background-color: #FFF;
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}
#main .panel {
  max-width: 450px;
  margin: 7% auto;
}
#main .panel > .alert {
  border-radius: 0;
  margin-bottom: 0;
}
#main .logo-wrapper img {
  max-width: 100%;
}
